@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#build-tool .comparison .yes::before, #build-tool .comparison .no::before, #build-tool .comparison .unknown::before {
  font-family: "Material Design Icons";
  display: inline-block;
  line-height: 1; }

@font-face {
  font-family: Roboto;
  src: url("../font/roboto/100.eot");
  src: url("../font/roboto/100.eot?#iefix") format("embedded-opentype"), url("../font/roboto/100.woff") format("woff"), url("../font/roboto/100.ttf") format("truetype"), url("../font/roboto/100.svg#robotothin") format("svg");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url("../font/roboto/500.eot");
  src: url("../font/roboto/500.eot?#iefix") format("embedded-opentype"), url("../font/roboto/500.woff") format("woff"), url("../font/roboto/500.ttf") format("truetype"), url("../font/roboto/500.svg#robotoregular") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url("../font/roboto/500i.eot");
  src: url("../font/roboto/500i.eot?#iefix") format("embedded-opentype"), url("../font/roboto/500i.woff") format("woff"), url("../font/roboto/500i.ttf") format("truetype"), url("../font/roboto/500i.svg#robotoitalic") format("svg");
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url("../font/roboto/700.eot");
  src: url("../font/roboto/700.eot?#iefix") format("embedded-opentype"), url("../font/roboto/700.woff") format("woff"), url("../font/roboto/700.ttf") format("truetype"), url("../font/roboto/700.svg#robotobold") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Material Design Icons";
  src: url("../font/icon/material-design.eot?v=1.0.1");
  src: url("../font/icon/material-design.eot?#iefix&v=1.0.1") format("embedded-opentype"), url("../font/icon/material-design.woff?v=1.0.1") format("woff"), url("../font/icon/material-design.ttf?v=1.0.1") format("truetype"), url("../font/icon/material-design.svg?v=1.0.1#Material-Design-Iconic-Font") format("svg");
  font-style: normal;
  font-weight: normal; }

.alert, pre.code, blockquote, section.build-tool-sbt-structure .directory-structure {
  position: relative;
  color: #FEFEFE;
  padding: 1rem 0 1rem 3.5rem;
  margin-bottom: 1rem;
  min-height: 4.5rem; }
  .alert::before, pre.code::before, blockquote::before, section.build-tool-sbt-structure .directory-structure::before {
    content: "";
    left: calc( -50vw + 50%);
    position: absolute;
    top: 0;
    background: #292929;
    height: 100%;
    width: 100vw;
    z-index: -1; }
  .alert::after, pre.code::after, blockquote::after, section.build-tool-sbt-structure .directory-structure::after {
    content: "";
    left: 0;
    position: absolute;
    top: 1rem;
    color: #FEFEFE;
    font-family: "Material Design Icons";
    font-size: 2.5rem;
    line-height: 1; }
  @media screen and (max-width: 45rem) {
    .alert, pre.code, blockquote, section.build-tool-sbt-structure .directory-structure {
      padding-left: 0;
      padding-top: 4.5rem; }
      .alert::after, pre.code::after, blockquote::after, section.build-tool-sbt-structure .directory-structure::after {
        left: 50%;
        margin-left: -1.25rem; } }
  .alert.hint::after, pre.hint.code::after, blockquote.hint::after, section.build-tool-sbt-structure .hint.directory-structure::after {
    content: "";
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

pre, code {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
  font-size: .9rem; }

code.inline {
  background-color: #292929;
  color: #FEFEFE; }

pre.code {
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  word-wrap: break-word; }
  pre.code::after {
    content: ""; }

div.image {
  display: table;
  margin-left: auto;
  margin-right: auto; }
  div.image a::before, div.image a::after {
    content: none; }
  div.image img {
    display: block;
    max-width: 100%; }

section .meta {
  display: inline-block;
  position: relative; }
  section .meta button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    font-family: "Material Design Icons";
    font-size: 2rem;
    line-height: 1;
    outline: none;
    padding: 0;
    position: relative; }
    section .meta button::before {
      content: "";
      bottom: 50%;
      left: 50%;
      position: absolute;
      right: 50%;
      top: 50%;
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: all 300ms;
              transition: all 300ms;
      z-index: -1; }
    section .meta button:hover {
      opacity: 1; }
      section .meta button:hover::before {
        content: "";
        bottom: -30%;
        left: -30%;
        right: -30%;
        top: -30%;
        opacity: .25; }
    section .meta button:active::before {
      content: "";
      opacity: .4; }
    section .meta button span {
      display: none; }
  section .meta.interactive {
    float: right;
    margin-bottom: 0; }
    section .meta.interactive button {
      display: block; }
  section .meta.active button {
    z-index: 11; }
    section .meta.active button::after {
      content: "";
      color: #292929;
      content: '\f29a' !important; }
  section .meta.level-1 button {
    color: #94b233; }
    section .meta.level-1 button::before {
      content: "";
      background-color: #A4C639; }
    section .meta.level-1 button::after {
      content: "";
      content: '\f155'; }
  section .meta.level-1 .reliability strong {
    color: #94b233; }
  section .meta.level-2 button {
    color: #ac6f2f; }
    section .meta.level-2 button::before {
      content: "";
      background-color: #c07c34; }
    section .meta.level-2 button::after {
      content: "";
      content: '\f154'; }
  section .meta.level-2 .reliability strong {
    color: #ac6f2f; }
  section .meta.level-3 button {
    color: #b9221f; }
    section .meta.level-3 button::before {
      content: "";
      background-color: #cf2623; }
    section .meta.level-3 button::after {
      content: "";
      content: '\f152'; }
  section .meta.level-3 .reliability strong {
    color: #b9221f; }
  section .meta .wrapper {
    -webkit-transition: opacity 250ms, top 250ms;
            transition: opacity 250ms, top 250ms;
    width: 14rem;
    z-index: 10; }
    section .meta .wrapper::before {
      content: "";
      bottom: -0.3125rem;
      left: -0.3125rem;
      position: absolute;
      right: -0.3125rem;
      top: -0.3125rem;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1; }
  section .meta.interactive .wrapper {
    position: absolute;
    right: -0.3125rem;
    top: -2.5rem;
    opacity: 0;
    pointer-events: none; }
  section .meta.active .wrapper {
    opacity: 1;
    pointer-events: auto;
    top: -0.4375rem; }
  section .meta ul {
    background: #FEFEFE;
    font-size: .9rem;
    list-style: none; }
    section .meta ul li {
      padding: 0.5rem; }
      section .meta ul li span {
        display: block; }
    section .meta ul .label, section .meta ul .edit {
      font-weight: 700;
      text-transform: uppercase; }
    section .meta ul .reliability strong, section .meta ul .reliability em {
      display: block;
      font-style: normal; }

blockquote::after {
  content: ""; }

blockquote p {
  margin-bottom: 0.5rem; }

blockquote footer::before {
  content: "—";
  margin: auto 0.5rem; }

.further-reading {
  list-style: none; }
  .further-reading li:not(:last-child) {
    margin-bottom: 1rem; }
  .further-reading a {
    font-weight: 700; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FEFEFE;
  color: #292929;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-size: 100%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase; }

em, abbr {
  font-style: italic; }

strong {
  font-weight: 700; }

main {
  margin: auto;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.5;
  margin-top: 4rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
  width: 100%; }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    line-height: 1.2; }
  main h1 {
    font-size: 36px; }
  main h2 {
    font-size: 32px; }
  main h3 {
    font-size: 28px; }
  main h4 {
    font-size: 24px; }
  main h5 {
    font-size: 20px; }
  main h6 {
    font-size: 16px; }
  main section {
    margin-bottom: 1rem;
    position: relative; }
    main section > * {
      margin-bottom: 1rem; }
  main ol ol, main ol ul, main ul ol, main ul ul {
    margin-left: 2rem; }
  main ol {
    list-style: decimal inside; }
  main ul {
    list-style: disc inside; }
  main a {
    color: #DC322F;
    text-decoration: none;
    position: relative; }
    main a::after {
      content: "";
      background-color: #DC322F;
      bottom: 0;
      height: 0.0625rem;
      left: 50%;
      opacity: 0;
      position: absolute;
      right: 50%;
      -webkit-transition: left 300ms, opacity 150ms 150ms, right 300ms;
              transition: left 300ms, opacity 150ms 150ms, right 300ms; }
    main a:hover::after {
      left: -0.125rem;
      opacity: .75;
      right: -0.125rem;
      -webkit-transition: left 300ms, opacity 150ms, right 300ms;
              transition: left 300ms, opacity 150ms, right 300ms; }
    main a:visited {
      color: #b9221f; }
  main p {
    text-align: justify;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }
  main table {
    margin-bottom: 1rem;
    width: 100%; }
    main table td, main table th {
      border-bottom: 0.0625rem solid #b2b2b2;
      padding: 0.5rem;
      text-align: center;
      vertical-align: middle; }
    main table tbody tr:last-child td {
      border-bottom: none; }
    main table tr td:nth-child(even) {
      background-color: #f1f1f1; }
  main .content-list {
    list-style-type: none; }
    main .content-list li:not(:last-child) {
      margin-bottom: 1rem; }
    main .content-list li > *:not(:last-child) {
      margin-bottom: 1rem; }

body > header {
  position: relative;
  margin: auto;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
  left: 0;
  position: fixed;
  right: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  width: 100%;
  z-index: 10; }
  body > header::before {
    content: "";
    left: calc( -50vw + 50%);
    position: absolute;
    top: 0;
    background: #DC322F;
    height: 100%;
    width: 100vw;
    z-index: -1; }
  body > header::before {
    content: "";
    left: calc( -50vw + 50%);
    position: absolute;
    top: 0;
    box-shadow: 0 0.3125rem 0 0 rgba(0, 0, 0, 0.1); }

#title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  #title a {
    display: inline-block;
    text-decoration: none; }
  #title h1, #title h2 {
    font-weight: 500;
    line-height: 1;
    margin: 0; }
  #title h1 {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0; }
  #title h2 {
    color: #771614;
    font-size: 1rem;
    letter-spacing: -0.00625rem; }
  @media screen and (max-width: 480px) {
    #title h1 {
      font-size: 1.5rem; }
    #title h2 {
      display: none; } }

/**
 * Burger button
 */
body > header nav {
  /**
	 * Navigation shadow
	 */
  /**
	 * Navigation listing
	 */ }
  body > header nav > a {
    color: #FFFFFF;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
    -webkit-transition: color 250ms;
            transition: color 250ms;
    z-index: 20; }
    body > header nav > a::before {
      content: "";
      bottom: 50%;
      left: 50%;
      position: absolute;
      right: 50%;
      top: 50%;
      background-color: #771614;
      border-radius: 50%;
      opacity: 0;
      z-index: -1;
      -webkit-transition: all 250ms;
              transition: all 250ms; }
    body > header nav > a::after {
      content: "";
      display: block;
      font-family: "Material Design Icons"; }
    body > header nav > a:hover::before {
      bottom: -30%;
      left: -30%;
      right: -30%;
      top: -30%;
      opacity: .25; }
    body > header nav > a:active::before {
      opacity: .75; }
    body > header nav > a span {
      display: none; }
  body > header nav.active > a {
    color: #292929;
    opacity: .75;
    z-index: 20; }
    body > header nav.active > a::after {
      content: ""; }
    body > header nav.active > a:hover {
      opacity: 1; }
  body > header nav .shadow {
    position: absolute;
    right: 1.5rem;
    top: -5rem;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 250ms, top 250ms;
            transition: opacity 250ms, top 250ms;
    width: 20rem;
    z-index: 15; }
    body > header nav .shadow::before {
      content: "";
      bottom: -0.3125rem;
      left: -0.3125rem;
      position: absolute;
      right: -0.3125rem;
      top: 0.3125rem;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1; }
  body > header nav.active .shadow {
    opacity: 1;
    pointer-events: auto;
    top: 0.5rem; }
  body > header nav .wrapper {
    background-color: white;
    height: 100%;
    overflow: hidden; }
    body > header nav .wrapper::before, body > header nav .wrapper::after {
      left: 0;
      position: absolute;
      right: 0;
      content: '';
      height: 3rem;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: opacity 250ms;
              transition: opacity 250ms; }
    body > header nav .wrapper::before {
      background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      top: 0; }
    body > header nav .wrapper::after {
      background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
      bottom: 0; }
    body > header nav .wrapper:not(.top)::before {
      opacity: 1; }
    body > header nav .wrapper:not(.bottom)::after {
      opacity: 1; }
    body > header nav .wrapper > ol {
      height: 100%;
      overflow: scroll;
      width: calc( 20rem + 50px); }
      body > header nav .wrapper > ol > li {
        margin-right: 50px; }
  body > header nav ol {
    z-index: 1; }
    body > header nav ol li, body > header nav ol a {
      color: #292929; }
    body > header nav ol a, body > header nav ol span {
      display: block;
      padding: 0.625rem 1rem; }
    body > header nav ol a {
      text-decoration: none;
      -webkit-transition: background-color 250ms;
              transition: background-color 250ms; }
      body > header nav ol a:hover {
        background-color: #e8e8e8; }
      body > header nav ol a:active {
        background-color: gainsboro; }
    body > header nav ol li.active > a {
      font-weight: 700; }
    body > header nav ol li > span {
      cursor: default;
      opacity: .5; }
    body > header nav ol ol a {
      text-indent: 1rem; }

body > footer, body > footer a {
  color: #424f17; }

body > footer .story, body > footer .fixtures {
  margin: auto;
  max-width: 60rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative; }

body > footer .story {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  body > footer .story::before {
    content: "";
    left: calc( -50vw + 50%);
    position: absolute;
    top: 0;
    background: #A4C639;
    height: 100%;
    width: 100vw;
    z-index: -1; }
  body > footer .story .back, body > footer .story .continue {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  body > footer .story .back::before, body > footer .story .continue::after {
    font-family: "Material Design Icons";
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
    vertical-align: middle; }
  body > footer .story .back::before {
    content: '\f1b5';
    margin-right: 0.5rem; }
  body > footer .story .continue {
    text-align: right; }
    body > footer .story .continue::after {
      content: '\f1b6';
      margin-left: 0.5rem; }
  body > footer .story a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle; }
    body > footer .story a::after {
      background-color: #424f17;
      bottom: 0;
      content: '';
      height: 0.0625rem;
      left: 50%;
      opacity: 0;
      position: absolute;
      right: 50%;
      -webkit-transition: left 300ms, opacity 150ms 150ms, right 300ms;
              transition: left 300ms, opacity 150ms 150ms, right 300ms; }
    body > footer .story a:hover::after {
      left: -0.125rem;
      opacity: .75;
      right: -0.125rem;
      -webkit-transition: left 300ms, opacity 150ms, right 300ms;
              transition: left 300ms, opacity 150ms, right 300ms; }

body > footer .fixtures {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem; }
  body > footer .fixtures::before {
    content: "";
    left: calc( -50vw + 50%);
    position: absolute;
    top: 0;
    background: #839e2e;
    height: 100%;
    width: 100vw;
    z-index: -1; }
  body > footer .fixtures .left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  body > footer .fixtures .center {
    -webkit-box-flex: .75;
    -webkit-flex: .75;
        -ms-flex: .75;
            flex: .75; }
    body > footer .fixtures .center img {
      display: block;
      width: 100%; }
    body > footer .fixtures .center .version {
      color: #627722;
      display: block;
      margin-top: 1rem;
      text-align: center; }
  body > footer .fixtures .right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right; }
  body > footer .fixtures li:not(:last-child) {
    margin-bottom: 0.5rem; }
  body > footer .fixtures a {
    color: #424f17;
    position: relative;
    text-decoration: none;
    vertical-align: middle; }
    body > footer .fixtures a::after {
      background-color: #424f17;
      bottom: 0;
      content: '';
      height: 0.0625rem;
      left: 50%;
      opacity: 0;
      position: absolute;
      right: 50%;
      -webkit-transition: left 300ms, opacity 150ms 150ms, right 300ms;
              transition: left 300ms, opacity 150ms 150ms, right 300ms; }
    body > footer .fixtures a:hover::after {
      left: -0.125rem;
      opacity: .75;
      right: -0.125rem;
      -webkit-transition: left 300ms, opacity 150ms, right 300ms;
              transition: left 300ms, opacity 150ms, right 300ms; }

@media screen and (max-width: 768px) {
  body > footer .fixtures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    body > footer .fixtures .left, body > footer .fixtures .center, body > footer .fixtures .right {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: center; }
    body > footer .fixtures .right {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-bottom: 1rem; }
    body > footer .fixtures .left {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      margin-bottom: 2rem; }
    body > footer .fixtures .center {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
      body > footer .fixtures .center img {
        margin: auto;
        width: 250px; } }

#abbreviations dl dt {
  font-weight: bold; }

#abbreviations dl dd:not(:last-child) {
  margin-bottom: 1rem; }

#about .reception-icons {
  list-style: none;
  text-align: center; }
  #about .reception-icons li {
    font-family: "Material Design Icons";
    font-size: 3rem;
    margin: 0 2rem;
    display: inline; }
  #about .reception-icons span {
    display: none; }
  #about .reception-icons .level-1 {
    color: #A4C639; }
    #about .reception-icons .level-1::before {
      content: ""; }
  #about .reception-icons .level-2 {
    color: #c07c34; }
    #about .reception-icons .level-2::before {
      content: ""; }
  #about .reception-icons .level-3 {
    color: #cf2623; }
    #about .reception-icons .level-3::before {
      content: ""; }

section.build-tool-sbt .title h3 {
  font-size: 1.2rem;
  font-weight: normal; }

section.build-tool-sbt-structure .directory-structure {
  line-height: 1; }
  section.build-tool-sbt-structure .directory-structure::after {
    content: ""; }
  section.build-tool-sbt-structure .directory-structure code.inline {
    background: none;
    color: #DC322F; }
  section.build-tool-sbt-structure .directory-structure, section.build-tool-sbt-structure .directory-structure ol {
    font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
    list-style: none; }
  section.build-tool-sbt-structure .directory-structure li {
    padding: 0.375rem 0;
    position: relative; }
    section.build-tool-sbt-structure .directory-structure li:last-child {
      padding-bottom: 0; }
  section.build-tool-sbt-structure .directory-structure p {
    color: #A4C639;
    font-family: Roboto, sans-serif;
    line-height: 1.5; }

#build-tool .comparison td span {
  display: none; }

#build-tool .comparison table a {
  font-size: .75rem;
  position: absolute; }

#build-tool .comparison .yes::before {
  content: "";
  font-size: 1.5rem; }

#build-tool .comparison .no::before {
  content: "";
  font-size: 1.5rem; }

#build-tool .comparison .unknown::before {
  content: "";
  font-size: 1.5rem; }

#command-line table td.command {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace; }

#contents section.toc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }
  @media screen and (max-width: 60rem) {
    #contents section.toc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      #contents section.toc .icon {
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        max-width: 15rem;
        width: 75%; } }
  #contents section.toc .wrapper {
    -webkit-box-flex: .7;
    -webkit-flex: .7;
        -ms-flex: .7;
            flex: .7; }
    #contents section.toc .wrapper > *:not(:last-child) {
      margin-bottom: 1rem; }
  #contents section.toc .icon {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    -webkit-box-flex: .3;
    -webkit-flex: .3;
        -ms-flex: .3;
            flex: .3; }
  #contents section.toc li a, #contents section.toc li span {
    margin-left: 0.5rem; }

#introduction .hello-scala {
  display: block;
  margin: 2rem auto;
  width: 15rem; }

#software dl dt {
  font-weight: bold;
  margin-top: 1rem; }
  #software dl dt:first-child {
    margin-top: 0; }

/*# sourceMappingURL=main.css.map */
