$base: 16px;
$line: 1.5;
$spacing: .5rem;
$width: 60rem;

$colors: (
	android: #A4C639,
	main: #292929,
	neutral: #fcfcfc,
	scala: #DC322F,
	secondary: #FFFFFF
);

$fonts: (
	roboto: Roboto
);

$font-families: (
	roboto: ( map-get( $fonts, roboto ), sans-serif )
);