{% set baseUrl = 'http://taig.io/Scala-on-Android' %}

{% from 'util/alert/index.html' import alert with context %}
{% from 'util/code/index.html' import code, command with context %}
{% from 'util/image/index.html' import image with context %}
{% from 'util/section/index.html' import section, section_further_reading with context %}
{% from 'util/source/index.html' import sourcelink, sourcelist with context %}

{% if id %}
	{% set current = sitemap.find( id ) %}
	{% set title = sitemap.path( current ) | join( ' › ' ) %}
	{% set identifier = id %}
{% endif %}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset=utf-8 />
	<title>Scala on Android › {{ title | striptags }}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ baseUrl }}/asset/stylesheet/agate.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ baseUrl }}/asset/stylesheet/main.css" />
</head>
<body>
	{% include 'include/header/index.html' %}
	<main id="{{ identifier }}">
		{% call alert( 'warning' ) %}
		<p>
			This document is under active development, changes frequently and does not claim to be correct. It is available only for demonstration purposes and should not be used to educate about the topic. A stable version of the {{ names.name( 'scala-android' ) }} documentation will ship by end of July!
		</p>
		{% endcall %}
		{% block content %}{% endblock %}
	</main>
	{% include 'include/footer/index.html' %}

	<script data-main="{{ baseUrl }}/asset/javascript/main" src="{{ baseUrl }}/asset/javascript/require-2.1.17.min.js"></script>
</body>
</html>